body {
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  color: #272727;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
}

.title {
  font-family: 'Ultra', serif;
  letter-spacing: 0.3em;
  font-size: 2em;
}

button {
  padding: 10px 20px;
  border: 1px solid #272727;
  display: block;
  cursor: pointer;
  background-color: #fff;
}

button:hover {
  border: 1px solid #767676;
  color: #767676;
}
